<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
    Splurty was built by <a target="_blank" href="http://github.com/millennialsforchrist">Justin</a>, a full-stack web developer in training.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'profile_small.jpg', class: 'img-responsive' %>
	</div><!-- /.col-xs-12 col-sm-4 -->

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
  	<h2 class="text-center">Justin Joseph</h2><!-- /.text-center -->
  	<br>
		<p>
    	Justin is self-taught in the use of HTML, CSS, JavaScript, Bootstrap, responsive design, 	PHP, Ruby, Rails, and WordPress.
  	</p>
  </div><!-- /.col-xs-12 col-sm-7 col-sm-offset-1 -->
</div><!-- /.col-xs-10 col-xs-offset-1 -->

<br class="clear">
<br>
<br>
<br>
<br>